---
import QuickSelectCard from "@/components/QuickSelectCard.astro";
import Layout from "../layouts/Layout.astro";
import { quickSelect } from "@/content/quick-select";

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout>
  <div class='py-8 px-2'>
    <h1 class='text-2xl md:text-4xl font-semibold text-primary-foreground'>
      <span class='text-primary font-bold'>Ulm</span>iversität
    </h1>
    <h2>Das inoffizielle Uni-Ulm Portal</h2>

    <section
      class='grid grid-cols-2 md:grid-cols-3 xl:grid-cols-4 mt-8 gap-2 md:gap-4'
    >
      {quickSelect.map((quick) => <QuickSelectCard quickSelect={quick} />)}
    </section>
  </div>
</Layout>
